{% extends 'store/admin_main.html' %}
{% load static %}

{% block admin_content %}
  <div class="container">
    <p class="text-left head"> Admin Dashboard </p>
    <p class="small mb-2 cw"> Manage your products here </p>
      <div style="margin-top:5px;">
        <div class="row">
          <div class="col-md-4" style="margin-top: 1%;background-color:whitesmoke;margin-right: 10px;">
            <strong>
            <p style="padding-top: 25px;"><label id="head">Add a Product </label> <button type="button" id="reset" onclick="reset_form()">Reset</button></p>

            </strong>
            <hr>
                <form method="POST" id="product-form"  data-toggle="validate" enctype='multipart/form-data' style="max-width:500px;border:1px;">
                    {% csrf_token %}
                    <input type="hidden" id="id" name="id">
                    <input type="hidden" id="action" name="action">
                    <input class="input-field mb1" type="text" placeholder="Write Product Name" id="name"  name="name" required>
                    <input class="input-field mb1" type="text" placeholder="Short Product Description" id="description" name="description">
                    <input class="input-field mb1" type="number" placeholder="Enter Price" id="price" step="0.1" name="price" required>
                    <input class="input-field mb1" type="file" placeholder="upload a product Image" title="Upload Product Image" id="image" name="image" >
                    <input type="checkbox"style="margin-left:20px;" id="digital" name="digital"> <small style="padding-bottom: 5px;"> Is this digital product?</small>
                    <p class="text-danger error {% if not error %} hidden {% endif %}">{{error}}</p>
                    <p class="text-danger mb1" style="font-size:80%;">* All fields are required.</p>
                    <button type="submit" class="btn" id="add">Add</button>
              </form>
              <br>
          </div>
          <div class="col-md-7" style="margin-bottom: 0%;margin-top: 1%;background-color:whitesmoke;margin-right: 10px;">
            <strong><p style="padding-top: 20px;font-size:18px;">Product List </p></strong><hr>
            <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a product.."><br> -->
            <table id="example" class="table row-border order-column" width="100%" style="width:auto" >
                <thead>
                  <th class="text-center">Sr. No.

                  </th>
                  <th>Porduct Image</th>
                  <th class="text-center">Product Name </th>
                  <th class="text-center">Unit Price</th>
                  <th class="text-center" >Description </th>
                  <th class="text-center" >No. of Unit Sold </th>
                  <th data-orderable="false">Action</th>
                </thead>
                <tbody>
                  {% for product in products %}
                    <tr>
                      <td class="text-center">{{forloop.counter}}</td>
                      <td class="notexport"><img class="row-image" src="{{product.get_image_url}}" alt="{{product.name}}"></td>
                      <td class="text-center">{{product.name}}</td></td>
                      <td class="text-center"> {{product.price | floatformat:2}} </td>
                      <td class="text-center">
                        {% if product.description %}
                          {{ product.description}}
                        {% else %}

                        {% endif %}
                      </td>
                      <td>{{ product.get_total_item_sell}}</td>
                      <td class="notexport text-center">
                        <span class="glyphicon update" data-val="add" data-id="{{product.id}}" data-price="{{product.price}}" data-url="{{product.get_image_url}}" title="update a product" data-name="{{product.name}}" data-desc="{{ product.description}}" data-digital="{{ product.digital}}" style="color:green;font-size:75%;font-weight:900;">Update</span>&nbsp;|
                        <span data-val="{% if product.is_active %}hide{% else %}show{% endif %}" data-id="{{product.id}}" class="glyphicon hide_show" title="hide or show a product on customer dashboard" style="color:rgba(238, 93, 9, 0.938);font-size:75%;font-weight:900;">
                          {% if product.is_active %}Hide{% else %}Show{% endif %}</span>&nbsp;|
                        <!-- <span data-val="delete" data-id="{{product.id}}" data-url="{{product.get_image_url}}" data-price="{{product.price}}" data-name="{{product.name}}" title="delete a product permanently" data-desc="{{ product.description}}" data-digital="{{ product.digital}}" class="glyphicon delete" style="color:red;font-size:75%;font-weight:900;">Delete</span>&nbsp;|&nbsp; -->
                        <span class="glyphicon" ><a href="{% url 'product-detail' product.id %}?admin=true" style="color:rgba(3, 28, 245, 0.938);font-size:75%;font-weight:900;" data-val="add" data-id="{{product.id}}" style="color:green;font-size:75%;font-weight:900;">More</a></span>&nbsp;
                      </td>
                    </tr>
                  {% endfor %}

                </tbody>
              </table>
          </div>
        </div>
      </div>
  </div>
{% endblock admin_content %}

{% block script %}
    <script type="text/javascript">
    function reset_form(){
      $("#product-form")[0].reset();
      $("#head").text("Add a Product");
    }
    $("section").hide();
    $(".checkbtn").click(function(){
        $("section").toggle(700);
        $(".container").toggle(800);
      })

    $("#image").change(function(){
      $("#image").text(this.files[0].name);
    });

    $("#product-form").submit(function(e){
      e.preventDefault();
      $("#action").val("add");
      var id = $("#id").val();
      var name = $("#name").val();
      var url = $("#url").val();
      var price = $("#price").val();
      var description = $("#description").val();
      var digital = $("#digital").val();
      console.log("add ",action,id);
      var data = new FormData(this);
      console.log("frm",data)
      $.ajax({
        url: '{% url "admin-dashboard" %}',
        // data:{
        //   'id':id,
        //   'action':'add',
        //   'csrfmiddlewaretoken':'{{ csrf_token }}',
        //   'name':name,
        //   'url':url,
        //   'price':price,
        //   'desc':description,
        //   'digital':digital
        // },
        data:data,
        method:"POST",
        dataType:'json/application',
        contentType:false,
        processData:false,
        success: function(data){
          console.log(data)
          window.location.reload();
        },
        error: function(data){
          console.log("error",data);
          if(data.status==200){
            window.location.reload();
          }
        }

      })
    })

      $('#example').DataTable({
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "scrollX": true,
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excelHtml5',
                title: 'Product List',
                exportOptions: {
                    columns: [0, 2, 3, 4,5]
                }
            },
            {
                extend: 'pdfHtml5',
                title: 'Product List',
                exportOptions: {
                    columns: [0, 2, 3, 4,5]
                },
                customize : function(doc){ 
                    doc.styles.tableHeader.alignment = 'center'; 
                    doc.content[1].table.widths = ["*","*","*","*","*"]; 
                }
            },
            {
                extend: 'print',
                title: 'Product List',
                exportOptions: {
                    columns: [0, 2, 3, 4,5]
                },
                customize : function(doc){ 
                    doc.styles.tableHeader.alignment = 'center';
                    doc.content[1].table.widths = ["*","*","*","*","*"]; 
                }
            }
            
        ]
        // buttons: [
        //     'copy', 'csv', 'excel', 'pdf', 'print'
        // ]
          });


    $(".update").click(function(e){
      var action = this.getAttribute("data-val");
      var id = this.getAttribute("data-id");
      var name = this.getAttribute("data-name");
      var url = this.getAttribute("data-url");
      var price = this.getAttribute("data-price");
      var description = this.getAttribute("data-desc");
      var digital = this.getAttribute("data-digital");
      var text = "Update Product - "+name;
      $("#head").text(text);
      $("#name").val(name);
      $("#action").val("add");
      $("#id").val(id);
      $("#price").val(parseFloat(price));
      if(description!="None"){
        $("#description").val(description);
      }
      if(digital=="True"){
        $("#digital").prop("checked",true);
      }
      console.log("add ",url,action,id,name,parseFloat(price),description=="None",typeof(digital));
    })


    $(".hide_show").click(function(e){
      var action = this.getAttribute("data-val");
      var id = this.getAttribute("data-id");
      console.log("hide show ",action,id);
      $.ajax({
        url: '{% url "admin-dashboard" %}',
        data:{
          'id':id,
          'action':action,
          'csrfmiddlewaretoken':'{{ csrf_token }}',
          'hide_show':true
        },
        method:"POST",
        dataType:'json/application',
        success: function(data){
          console.log(data)
          window.location.reload();
        },
        error: function(data){
          console.log("error",data);
          if(data.status==200){
            window.location.reload();
          }
        }

      })
    })
    $(".delete").click(function(e){

      var action = this.getAttribute("data-val");
      var id = this.getAttribute("data-id");
      console.log("delete ",action,id);
      $.ajax({
        url: '{% url "admin-dashboard" %}',
        data:{
          'id':id,
          'action':'delete',
          'csrfmiddlewaretoken':'{{ csrf_token }}'
        },
        method:"POST",
        dataType:'json/application',
        success: function(data){
          console.log(data)
          window.location.reload();
        },
        error: function(data){
          console.log("error",data);
          if(data.status==200){
            window.location.reload();
          }
        }

      })
    })
    </script>
{% endblock script %}
