{% extends 'store/main.html' %}
{% load static %}
{% load template_filter %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<style>
	.back-cart{
		border:1px solid #ccc;
	}
	.back-cart:hover{
		transform: scale(1.1);
	}
	.row-image{
		margin-left: 40px;
		height: 60px;
		width: 70px;
		border-radius: 2px;
	}
	
</style>
<p class="text-left head"> CheckOut </p>
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper" style="background-color:whitesmoke;">
				<form id="shipping-form" method="POST" enctype="multipart/form-data">

					{% csrf_token %}
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" value="{{request.user.customer.name}}" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" value="{{request.user.customer.email}}" type="email" name="email" placeholder="Email..">
						</div>
					</div>
						{% if order.shipping %}
							<div id="shipping-info">
								<hr>
								<p>Shipping Information:</p>
								<hr>
								<div class="form-field">
									<input class="form-control" type="text" name="address" placeholder="Address..">
								</div>
								<div class="form-field">
									<input class="form-control" type="text" name="city" placeholder="City..">
								</div>
								<div class="form-field">
									<input class="form-control" type="text" name="state" placeholder="State..">
								</div>
								<div class="form-field">
									<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
								</div>
							</div>
						{% endif %}
					<hr>
					{% if items %}
						<input id="shipping-btn" type="button" class="btn btn-success btn-block" type="submit" value="Continue">
					{% else %}
						<input id="shipping-btn" type="button" class="btn btn-success btn-block {% if items %}{% else %}disabled{% endif %}" type="submit" disabled value="Continue">
					{% endif %}
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info" style="background-color:whitesmoke;">
				<small>Paypal Options</small><br>
				<button class="btn btn-success btn-block" id="make-payment">
					Make Payment (Work In Progress)
				</button>
			</div>
			
		</div>

		<div class="col-lg-6">
			<div class="box-element" style="background-color:whitesmoke;">
				<a  class="btn btn-outline-dark back-cart" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>


					<table class="table" id="checkout-table">
						<thead>
							<th class="text-center"></th>
							<th class="text-center">Product Name</th>
							<th class="text-center">Price </th>
							<th class="text-center">  Quantity</th>
						</thead>
						<tbody>
							{% if items %}
								{% for item in items %}
									<tr>
										<td><img class="row-image back-cart" src="{{ item.product.get_image_url }}"></td>
										<td class="text-center">{{item.product.name}}</td>
										<td class="text-center">Rs. {{item.product.price | floatformat:2}}</td>
										<td class="text-center">x {{item.quantity | floatformat:2}}</td>
									</tr>
								{% endfor %}
							{% else %}
									<tr> No Item in your Cart  </tr>
							{% endif %}
									
								<tr>
									<th class="text-center">Items:</th>
									<td class="text-center"></td>
									<td class="text-center"></td>
									<th class="text-center">{{order.get_total_items}}</th>
								</tr>
								<tr>
									<th class="text-center ">Total:</th>
									<td class="text-center"></td>
									<td class="text-center"></td>
									<th class="text-center">Rs. {{order.get_cart_total | floatformat:2}}</th>
								</tr>
						</tbody>
					</table>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	
	<script>
		$('#checkout-table').DataTable({
          // ajax:'{% url "admin-dashboard" %}?attendance=true',
            });

		console.log("=== ship ",'{{shipping}}')
		var form = document.getElementById("shipping-form")
		var btn = document.getElementById("shipping-btn") 

		btn.addEventListener("click",function(){
			submit_shipping(form);
			document.getElementById('shipping-btn').classList.add('hidden');
			document.getElementById("payment-info").classList.remove('hidden');
		})


		// btn.click(function(e){

		// 	submit_shipping(form);
		// 	document.getElementById('shipping-btn').classList.add('hidden');
		// 	document.getElementById("payment-info").classList.remove('hidden');
		// })
		function submit_shipping(form){
			console.log("=== submit form")
			var user_data = {
				'name':form.name.value,
				'email':form.email.value,
				'total':'{{order.get_cart_total | floatformat:2}}'
			}
			console.log("form",form.address)
			try{
				var shipping_data = {
				'address':form.address.value,
				'state':form.state.value,
				'zipcode':form.zipcode.value,
				'city':form.city.value,
			}
			}
			catch(e){
				var shipping_data = {}
			}



		$.ajax({
			url:"/checkout/",
			type:'POST',
			data:{
				'user_data':JSON.stringify(user_data),
				'shipping_data':JSON.stringify(shipping_data),
				'csrfmiddlewaretoken':csrfmiddlewaretoken
				},
			dataType: 'json',
			success:function(data){
				console.log("data ",data)
				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
				window.location.href = "{% url 'store' %}"
			}
			})
		}

	</script>
{% endblock content %}