{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<style>

.view{
border:1px solid #195;}
.view:hover{
	border:1px solid white;
	background-color:#191918;
	color:#FFF;
}

.add-btn{
	border:1px solid #122;
}
.add-btn:hover{
	border:1px solid white;
	background-color:#191918;
	color:#FFF;
}
.thumbnail{
	margin-bottom:5px!important;
}
.thumbnail:hover{
	transform:scale(1.1);	
}
.mb-3{
	margin-bottom:20px;
}

</style>
<p class="text-left head"> Dashboard </p><small class="text-left cw" style='margin-left: 10px;'> List of available products based on your recent activities </small>

	{% for product in products %}
		<div class=" {% if forloop.counter|divisibleby:3 %} row {% endif %}">
			<div class="col-lg-4" style="margin-bottom: 10px;">
				<img class="thumbnail" src="{{product.get_image_url}}">
				<div class="box-element product" style="background-color:whitesmoke!important;">
					<h6><strong>{{product.name}} {{ product.url }}</strong></h6>
					<hr>
					<button  class="btn btn-primary add-btn update-cart" data-product="{{product.id}}" data-action="add">Add to Cart</button>
					<a class="btn btn-outline-secondary view"  href="{% url 'product-detail' product.id %}">View</a>
					<h4 style="display: inline-block; float: right"><strong>Rs. {{product.price|floatformat:2}}</strong></h4>

				</div>
			</div>
		</div>
	{% endfor %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	
{% endblock content %}
